.image-login {
    flex: 1;
    background-color: #2a2a2a;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 300px;
}

.image-login img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.form-login {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 300px;
}

h2 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

#loginForm {
    position: relative;
    padding-bottom: 50px;
}

#registerForm {
    position: relative;
    padding-bottom: 50px;
}

.bottom-link {
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    text-align: left;
}